name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    name: "Test"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
      - name: Debug dependencies
        run: ls -la && bun --version
      - name: Install dependencies
        run: bun install
      - name: Run tests
        run: bun test
        continue-on-error: false
  auto-approve:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: hmarr/auto-approve-action@v2.0.0
        if: github.event_name == 'pull_request' && (github.actor == 'dependabot[bot]' || github.actor == 'dependabot-preview[bot]')
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"
